@import "./_variables";
.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 6%;
    &__texts{
        margin: 0;
        padding: 10% 0 0 0;
        #hero__texts--subtitle {
            color: #{$subtorange};
            margin: 0 0 24px 0;
            padding: 0;
        }
        &--decore{
            margin: 0% 0% -12% 32%;
            padding: 0;
        }
        h1{
            font-family: #{$volkov};
            color: #{$first};
            font-weight: bold;
            font-size: 84px;
            letter-spacing: -0.04em;
            margin: 0 0 30px 0;
            padding: 0;
            span{
                margin: 0;
                padding: 0px 44px 0 0;
                background-image: url("../assets/header/Decore.png");
                background-position: 0% 81%;
                background-size: 125% 13%;
                background-repeat: no-repeat;
            }
        }
        p{
            font-family: #{$poppins};
            color: #{$txtclear};
            font-weight: 500;
            font-size: 1em;
            margin: 0 0 34px 0;
            width: 62%;
        }
        &--buttons{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
            button{
                width: 170px;
                height: 60px;
                border-radius: 10px;
                border: none;
                background-color: #{$btnfind};
                box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
                color: white;
                font-family: #{$gsans};
                font-size: 18px;
                cursor: pointer;
            }
            .demo{
                display: flex;
                flex-direction: row;
                padding: 12px 0 0 0;
                margin: 0 0 0 44px;
                img{
                    width: 100px;
                    height: 100px;
                    padding: 0;
                    margin: 0 0 -10px 0;
                    cursor: pointer;
                }
                figcaption{
                    font-family: #{$poppins};
                    font-size: 17px;
                    font-weight: 500;
                    color: #{$txtcolor};
                    padding: 23px 0 0 0;
                    margin: 0;
                    align-self: self-start;
                }
            }
        }
    }
    &__image{
        padding: 0;
        margin: 0 0 0 -22%;
        width: 765px;
        height: 764px;
        @media #{$laptopS}{
            height: unset;
            width: 100%;
            margin: 7% 0 0 -22%;
        }
        img{
            padding: 0;
            margin: 0;
            @media #{$laptopS}{
                height: unset;
                width: 100%;
            }
        }
    }
}
