@import "./_variables";
.service__card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 22%;
    background: #FFFFFF;
    border-radius: 36px;
    margin: 0;
    padding: 2% 1%;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    &:hover{
        border: solid red 3px;
    }
    img {
        max-height: 95px;
    }
    h6{
        font-family: #{$open};
        color: #{$heading};
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        padding: 0;
        margin: 0 0 15px 0;
    }
    p{
        font-family: #{$poppins};
        color: #{$txtclear};
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        padding: 0;
        margin: 0;
    }
}
