@import "./_variables";
.testimonials{
    width: 100%;
    border: solid blue 5px;
    margin: 0 0 100px 0;
    padding: 0 6%;
    display: flex;
    flex-direction: row;
    &__text{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 87px 0 0;
        &--title{
            text-align: left;
            padding: 0;
            margin: 0 0 82px 0;
        }
        &--sliderBtn{
            padding: 0;
            margin: 0;
        }
    }
    &__slider{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--cards{
            width: 47%;
            display: flex;
            flex-direction: column;
        }
        &--navArrows{
            width: 14px;
            display: flex;
            flex-direction: column;
            img{
                width: 14px;
                height: 7px;
            }
        }
    }
}
